@font-face {
    font-family: "Kaushan Script";
    src: url('/fonts/KaushanScript-Regular.ttf');
}

@font-face {
    font-family: "Droid Serif";
    src: url('/fonts/DroidSerif.ttf');
}


@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Bold.ttf');
}

