/* clear float */
.clear-float:after,
.clear-float:before {
    content: "";
    display: table;
    clear: both;
}

/* font resize */
.font-resize,
.font-resize .btn,
.font-resize .fa {
    font-size: 13px !important;
}

/* button add for general action in admin panel */
.box-body a.general-action {
    font-size: 16px;
    padding: 4px 10px;
    color: white;
    margin-bottom: 20px;
}

/* button multiple delete */
.box-body a.multiple-delete {
    background: #C62828;
    display: none;
}

.box-body a.add {
    background: #3c8dbc;
}

#successmodal .modal-dialog {
    width: 350px;
}

.modal-dialog {
    background: #FFF;
}

/* box body */
.box {
    border-radius: 0;
}

.content-header > .breadcrumb {
    position: initial;
}

.btn-flat {
    border-radius: 0;
}

.btn {
    margin: 0 3px;
}

/* alert in form */
.redalert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.nonmodalalert {
    display: none;
}

.greenalert .fa {
    margin-right: 10px;
    text-size: 14px;
}

.greenalert #successmessage {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: text-bottom;
}

.greenalert {
    color: #468847;
    width: 350px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.modalalert {
    overflow: auto;
    margin: 0 auto;
}

/* give margin between input group in form */
.input-group {
    margin-bottom: 20px;
}

/* info number, vertical align */
.info-box-number {
    padding-top: 27px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.notifications-menu .dropdown-menu {
    font-size: 12px !important;
}